In [1]:
import pandas as pd

In [6]:
Tatum = pd.read_html('https://www.basketball-reference.com/players/t/tatumja01.html')

In [7]:
len(Tatum)

7

In [9]:
Tatum[0]

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Per 36 Minutes  \
              Season                Age                 Lg             FG
0            2022-23                 24                NBA            9.4

                                  ...                                Shooting  \
    FGA   3P  3PA   FT  FTA  ORB  ...  AST  STL  BLK  TOV   PF   PTS      FG%
0  20.2  3.0  8.1  5.0  5.8  1.1  ...  4.3  1.1  0.6  2.7  2.2  26.7    0.462

                Unnamed: 20_level_0
     3P%    FT%               WS/48
0  0.373  0.856               0.154

[1 rows x 21 columns]

In [10]:
Tatum[1]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017-18,19.0,BOS,NBA,SF,80,80,30.5,5.0,10.4,...,0.826,0.6,4.4,5.0,1.6,1.0,0.7,1.4,2.1,13.9
1,2018-19,20.0,BOS,NBA,SF,79,79,31.1,5.9,13.1,...,0.855,0.9,5.2,6.0,2.1,1.1,0.7,1.5,2.1,15.7
2,2019-20,21.0,BOS,NBA,PF,66,66,34.3,8.4,18.6,...,0.812,1.0,6.0,7.0,3.0,1.4,0.9,2.3,2.1,23.4
3,2020-21,22.0,BOS,NBA,SF,64,64,35.8,9.5,20.6,...,0.868,0.8,6.6,7.4,4.3,1.2,0.5,2.7,1.9,26.4
4,2021-22,23.0,BOS,NBA,SF,76,76,35.9,9.3,20.6,...,0.853,1.1,6.9,8.0,4.4,1.0,0.6,2.9,2.3,26.9
5,Career,NaN,NaN,NBA,NaN,365,365,33.4,7.5,16.4,...,0.844,0.9,5.8,6.6,3.0,1.1,0.7,2.1,2.1,20.9

In [11]:
Tatum[2]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017-18,19.0,BOS,NBA,SF,19,19,35.9,6.5,13.7,...,0.845,0.5,3.8,4.4,2.7,1.2,0.5,2.2,2.6,18.5
1,2018-19,20.0,BOS,NBA,SF,9,9,32.8,5.4,12.4,...,0.744,0.8,5.9,6.7,1.9,1.1,0.8,2.0,2.3,15.2
2,2019-20,21.0,BOS,NBA,PF,17,17,40.6,8.5,19.6,...,0.813,1.3,8.7,10.0,5.0,1.0,1.2,2.8,2.4,25.7
3,2020-21,22.0,BOS,NBA,SF,5,5,37.0,9.4,22.2,...,0.918,0.6,5.2,5.8,4.6,1.2,1.6,2.6,3.0,30.6
4,2021-22,23.0,BOS,NBA,SF,24,24,41.0,8.4,19.7,...,0.800,1.0,5.7,6.7,6.2,1.2,0.9,4.2,3.0,25.6
5,Career,NaN,NaN,NBA,NaN,74,74,38.3,7.6,17.4,...,0.820,0.9,5.9,6.8,4.4,1.1,0.9,3.0,2.7,22.9

In [12]:
Tatum[3]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp Dbl
0,2017-18,19.0,BOS,NBA,SF,80,80,2443,397,835,...,352,402,128,83,58,114,170,1112,NaN,0
1,2018-19,20.0,BOS,NBA,SF,79,79,2455,466,1036,...,407,477,168,84,57,122,168,1243,NaN,0
2,2019-20,21.0,BOS,NBA,PF,66,66,2265,552,1226,...,396,460,200,93,57,155,136,1547,NaN,0
3,2020-21,22.0,BOS,NBA,SF,64,64,2290,605,1318,...,422,472,276,75,31,171,122,1692,NaN,1
4,2021-22,23.0,BOS,NBA,SF,76,76,2731,708,1564,...,524,609,334,75,49,217,174,2046,NaN,0
5,Career,NaN,NaN,NBA,NaN,365,365,12184,2728,5979,...,2101,2420,1106,410,252,779,770,7640,NaN,1

In [13]:
Tatum[4]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017-18,19.0,BOS,NBA,SF,19,19,683,123,261,...,0.845,10,73,83,52,23,10,41,50,351
1,2018-19,20.0,BOS,NBA,SF,9,9,295,49,112,...,0.744,7,53,60,17,10,7,18,21,137
2,2019-20,21.0,BOS,NBA,PF,17,17,690,145,334,...,0.813,22,148,170,85,17,20,48,41,437
3,2020-21,22.0,BOS,NBA,SF,5,5,185,47,111,...,0.918,3,26,29,23,6,8,13,15,153
4,2021-22,23.0,BOS,NBA,SF,24,24,983,201,472,...,0.800,24,137,161,148,29,21,100,72,615
5,Career,NaN,NaN,NBA,NaN,74,74,2836,565,1290,...,0.820,66,437,503,325,85,66,220,199,1693

In [14]:
Tatum[5]

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,2017-18,19.0,BOS,NBA,SF,80,2443,15.2,0.586,0.290,...,NaN,3.0,4.0,7.1,0.139,NaN,0.0,1.2,1.2,2.0
1,2018-19,20.0,BOS,NBA,SF,79,2455,15.1,0.547,0.300,...,NaN,1.6,3.4,5.0,0.097,NaN,-0.4,0.2,-0.2,1.1
2,2019-20,21.0,BOS,NBA,PF,66,2265,20.4,0.567,0.383,...,NaN,3.2,3.7,6.9,0.146,NaN,3.5,0.6,4.0,3.4
3,2020-21,22.0,BOS,NBA,SF,64,2290,21.3,0.576,0.368,...,NaN,4.1,2.5,6.5,0.137,NaN,4.2,-0.3,3.9,3.4
4,2021-22,23.0,BOS,NBA,SF,76,2731,21.8,0.578,0.416,...,NaN,5.0,4.6,9.6,0.169,NaN,4.3,0.6,4.9,4.8
5,Career,NaN,NaN,NBA,NaN,365,12184,18.8,0.571,0.361,...,NaN,16.9,18.2,35.1,0.138,NaN,2.3,0.5,2.8,14.8

In [15]:
Tatum[6]

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,2017-18,19.0,BOS,NBA,SF,19,683,16.2,0.578,0.272,...,NaN,0.8,0.8,1.6,0.116,NaN,0.0,1.5,1.5,0.6
1,2018-19,20.0,BOS,NBA,SF,9,295,13.4,0.530,0.277,...,NaN,-0.1,0.6,0.5,0.080,NaN,-0.5,1.6,1.0,0.2
2,2019-20,21.0,BOS,NBA,PF,17,690,20.7,0.563,0.377,...,NaN,1.1,1.3,2.3,0.163,NaN,4.5,1.8,6.3,1.4
3,2020-21,22.0,BOS,NBA,SF,5,185,24.1,0.577,0.324,...,NaN,0.5,-0.1,0.4,0.114,NaN,5.8,0.7,6.5,0.4
4,2021-22,23.0,BOS,NBA,SF,24,983,17.6,0.562,0.415,...,NaN,0.8,1.5,2.2,0.110,NaN,3.1,1.4,4.5,1.6
5,Career,NaN,NaN,NBA,NaN,74,2836,18.0,0.564,0.357,...,NaN,3.1,4.0,7.2,0.121,NaN,2.5,1.5,4.0,4.3